# docker-compose.yml
version: '3.8'

services:
  sparql-muse:
    build: .
    ports:
      - "8011:8000"
    container_name: sparqlmuse
    volumes:
      - ./app:/app
    environment:
      - "SPARQL_ENDPOINT"
    networks:
      - default
      - traefik
networks:
  traefik:
    external: true

